@import "tailwindcss";


@layer base{
  ul li {
    cursor: pointer;
  }
  
  body {
    background-color:gray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
}
@layer utilities{
   .popin{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
  }